In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Sequential

In [2]:
df = pd.read_csv('ANN_Bank_Marketing.csv')

In [3]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN,no
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN,no
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN,no
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,NaN,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,NaN,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,NaN,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [ ]:
le = LabelEncoder()
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = le.fit_transform(df[col])
df = pd.get_dummies(df, drop_first=True)
X = df.drop('y_yes', axis = 1)
y = df['y_yes']

In [ ]:
X = df.drop('y', axis = 1)
y = df['y']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [8]:
model = Sequential([
    Dense(16, input_dim=X_train.shape[1], activation='relu'),   # hidden layer 1
    Dense(8, activation='relu'),                                # hidden layer 2
    Dense(1, activation='sigmoid')                              # output layer
])

C:\Users\Lenvo\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [9]:
model.compile(optimizer=Adam(learning_rate=0.001), 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

In [10]:
history = model.fit(X_train, y_train, epochs=5, batch_size=16, validation_data=(X_test, y_test), verbose=1)

Epoch 1/5
2261/2261 ━━━━━━━━━━━━━━━━━━━━ 10s 4ms/step - accuracy: 0.7827 - loss: 0.4289 - val_accuracy: 0.8902 - val_loss: 0.2512
Epoch 2/5
2261/2261 ━━━━━━━━━━━━━━━━━━━━ 7s 3ms/step - accuracy: 0.8973 - loss: 0.2410 - val_accuracy: 0.8940 - val_loss: 0.2436
Epoch 3/5
2261/2261 ━━━━━━━━━━━━━━━━━━━━ 7s 3ms/step - accuracy: 0.8994 - loss: 0.2355 - val_accuracy: 0.8959 - val_loss: 0.2420
Epoch 4/5
2261/2261 ━━━━━━━━━━━━━━━━━━━━ 8s 4ms/step - accuracy: 0.9012 - loss: 0.2335 - val_accuracy: 0.8970 - val_loss: 0.2397
Epoch 5/5
2261/2261 ━━━━━━━━━━━━━━━━━━━━ 7s 3ms/step - accuracy: 0.9008 - loss: 0.2313 - val_accuracy: 0.8955 - val_loss: 0.2383

In [11]:
loss, acc = model.evaluate(X_test,y_test)

283/283 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8927 - loss: 0.2419

In [12]:
print(loss)

0.23832306265830994

In [13]:
print(acc)

0.8954992890357971

In [ ]:
import matplotlib.pyplot as plt
plt.plot(history.history['accuracy'], label='Train Accuracy')
plt.plot(history.history['val_accuracy'], label='Test Accuracy')
plt.xlabel('Epochs')
plt.ylabel('Accuracy')
plt.title('Model Accuracy')
plt.legend()
plt.show()

plt.plot(history.history['loss'], label='Train Loss')
plt.plot(history.history['val_loss'], label='Test Loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.title('Model Loss')
plt.legend()
plt.show()